<div class="footer_bg_color footer_padding">
    <div class="container footer_bg_color">
        <div class="row footer_padding">
            <div class="col d-flex align-items-center">
                <%= link_to "#" do %>
                <%= image_tag "logo_SM.png", class: "size-logo" %>
                <% end %>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-around">
                <%= link_to "#" do %>
                <%= image_tag "facebook-logo", class: "size-icon" %>
                <% end %>
                <%= link_to "#" do %>
                <%= image_tag "instagram", class: "size-icon" %>
                <% end %>
                <%= link_to "#" do %>
                <%= image_tag "twitter", class: "size-icon" %>
                <% end %>
            </div>
        </div>
        <div class="row footer_padding">
            <div class="col-6 d-flex justify-content-around ">
                <%= link_to "#" do %>
                <p>Nosotros</p>
                <% end %>
                <%= link_to "#" do %>
                <p>Productos</p>
                <% end %>
                <%= link_to "#" do %>
                <p>Contacto</p>
                <% end %>
                <%= link_to "#" do %>
                <p>Preguntas Frecuentes</p>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Copyright © 2021. SanitoMarket. Todos los derechos reservados.</p>
            </div>
            <div class="col d-flex justify-content-end">
                <%= link_to "#", class: "footer_padding" do %>
                <p>Terminos & condiciones</p>
                <% end %>
                <%= link_to "#", class: "footer_padding" do %>
                <p>Políticas de privacidad</p>
                <% end %>
            </div>
        </div>

    </div>
</div>