
<div class="container container-show">
    <div class="row">
        <div class="col-6 text-center">
            <% if @product.title == "6 Donas sin lactosa" %>
                <%= cl_image_tag("https://res.cloudinary.com/caroligu/image/upload/v1632152535/Sanito%20Market/photo_2021-09-08_12-32-20_eou3mt.jpg", 
                    ) %>
            <% elsif @product.title == "10 bombones de chocolate" %>
                <%= cl_image_tag("https://res.cloudinary.com/caroligu/image/upload/v1632152576/Sanito%20Market/Bombones_ppd9zd.jpg", 
                    ) %>
            <% elsif @product.title == "Alfajores con relleno de manjar" %>
                <%= cl_image_tag("https://res.cloudinary.com/caroligu/image/upload/v1632152539/Sanito%20Market/Alfajor_wzshgj.jpg", 
                    ) %>
            <% elsif @product.title == "Barra CeliThea" %>
                <%= cl_image_tag("https://res.cloudinary.com/caroligu/image/upload/v1632152539/Sanito%20Market/Barra_CeliThea_vu1udb.jpg", 
                    ) %>
            <% elsif @product.title == "Cigarretes rellenos" %>
                <%= cl_image_tag("https://res.cloudinary.com/caroligu/image/upload/v1632152539/Sanito%20Market/Cigarrets_xmmlpk.jpg", 
                    ) %>
            <% elsif @product.title == "Box Gluten Free" %>
                <%= cl_image_tag("https://res.cloudinary.com/caroligu/image/upload/v1632152537/Sanito%20Market/Box_qgjfmm.jpg", 
                    ) %>
            <% else %>
                <img class= "rounded" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />       
            <% end %>        </div>
        <div class="col-6"> 
            <h1><%= @product.title %></h1>
            <h3>$ <%= @product.price %></h3>
            <p>Amount: <%= humanized_money_with_symbol(@product.price) %></p>
            <p>Aqui debe ir si hay stock</p>
            <select name="amount">
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option>
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
            </select>
            <%#= link_to 'Añadir al carrito', carts_path(@product), method: :post, class:"btn btn-flat" #%>
            <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'product_id', @product.id %>
                  <%= submit_tag 'Añadir al carrito', class: 'btn btn-flat' %>
                <% end %> 
            <div class="show-descripction">
                <h3>Descripción</h3>
                <p><%= @product.description %></p>
                
            </div>
            <div class="show-intoalerg">
                <h3>Intolerancia o Alergías</h3>
                <p>Aqui debe ir la intolerancia y/o tipo de alergias</p>
            </div>
        </div>
    </div>
</div>
